/*
** Artwork Page
*/

/* Tag List */
div.margin {
	min-width: 1px;
	max-width: 200px;
}
div.margin ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}
div.margin li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.margin li:hover {
	overflow: visible;
}

.taglist li::marker {
	content: "·";
}
.taglist h4 {
	margin-bottom: 5px;
}
.extlinkslist h3 {
	margin-bottom: 5px;
}
.extlinkslist li {
	--link-favicon: url("/resources/link.png");
	list-style: none;
}
/* Only god knows why this doesn't work on ::marker */
.extlinkslist li::before {
	content: '';
	display: inline-block;
	background-image: var(--link-favicon);
	background-size: contain;
	width: 16px;
	height: 16px;
	vertical-align:middle;
}

/* Medias */
div.artwork {
	width: 100%;
}
div.media {
	text-align: center;
}


/* Descriptions */
div.artwork .description {
	border-radius: 5px;
	padding: 20px;
	padding-top:0;
	margin-bottom: 10px;

	border-style: inset;
	border-width: 1px;

	border-color: #ccc;
	background-color: #f4f4f4;
}
.description hr {
	border-style: inset;
	border-color: #f4f4f4;
	border-width: 1px;
}
.description p {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: justify;
}