# Prevent directory browsing
Options All -Indexes

# Protect htaccess
<Files ~ "^.*\.([Hh][Tt][AaPp])">
order allow,deny
deny from all
satisfy all
</Files>

RewriteEngine on
RewriteBase /

# If not a file, adds the trailing slash if missing
# This rule is required to avoid unintended automatic 301 redirection from `folder` to `folder/`, which otherwise happen *after* the rewriting.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])$ $1/


RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^(.*)$ site/$1