# Prevent directory browsing
Options All -Indexes

# Protect htaccess
<Files ~ "^.*\.([Hh][Tt][AaPp])">
order allow,deny
deny from all
satisfy all
</Files>

RewriteEngine on
RewriteBase /

# Explixitely redirect any URL starting with site
RewriteCond %{REQUEST_URI} ^/site/
RewriteRule ^site/(.*)$ /$1 [R=303]

# Itnernally rebase all urls to the /site/folder
RewriteCond %{REQUEST_URI} !^/site/
RewriteRule ^(.*)$ site/$1 [END]
