/******************************************************************************/
/* # General Layout                                                           */
/******************************************************************************/
.artPage .column {
	padding: 0 8px;
}

/******************************************************************************/
/* # Description                                                              */
/******************************************************************************/
div.artwork .description {
	box-shadow: inset black 0 0 5px 0;
	background-color: var(--color-bg-deep);
}
