/******************************************************************************/
/* # Generic Tag Names                                                        */
/******************************************************************************/

.tagName {
	text-shadow: black 2px 2px 2px;
}
li.tagName:has(a:hover)::before {
	color: var(--color-highlight-strong);
}


/******************************************************************************/
/* # Tag Previews                                                             */
/******************************************************************************/

.tagPreview > .tagShortDesc {
	text-shadow: none;
}
