textarea {
	width: 100%;
	resize: vertical;
}

div.inlineCategory {
	display: inline-block;
	vertical-align: top;
	min-width: 100px;
	margin: 5px;
}

.row {
	display: table-row;
	width: 100%;
}
.column {
	display: table-cell;
}

div.cardList {
	max-width: 940px;
	margin: auto;

	text-align: center;
}
div.card {
	display: inline-block;
	vertical-align: top;
	text-align: center;

	margin: 5px;
	padding: 5px;

	background-color:white;
	border-style: outset;
	border-color: #8888;
	border-width: 1px;
	border-radius: 2px;
}
div.card .viewport {
	width: 160px;
	height: 90px;

	background-color : grey;
	border-color: #8888;
	border-style: inset;
	border-width: 1px;
	border-radius: 1px;
}
div.card h4 {
	display: block;
	width: 160px;
	margin: 0;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.viewport img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 30%;
}

div.margin {
	white-space: nowrap;
}
div.artwork {
	width: 100%;
}
div.media {
	text-align: center;
}

div.pageList {
	text-align: center;
}

div.footer {
	text-align: center;
}